.public-games-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.public-games-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.public-games-scrollbar::-webkit-scrollbar-thumb {
  background: oklch(var(--p));
  border-radius: 4px;
}

.public-games-scrollbar::-webkit-scrollbar-thumb:hover {
  background: oklch(var(--s));
}
